body{
    background-color: antiquewhite;
    }
    
    h1{
        text-align: center;
        color: white;
        background-color: brown;
        border-radius: 30px;
    }
    h2{
        text-align: center;
        color: white;
        background-color: brown;
        border-radius: 30px;
    }